.container{
    padding-top: 40px;
    padding-left: 20px;
}
span{
    color:red
}
.name{
    font-weight: bolder;
}
.name-text1{
    display: inline-block;
}
.name-text2{
    display: inline-block;
    padding-left: 30px;
}
.email{
    padding-left: 125px;
}
.exp{
    padding-left: 125px;
}
.fa-star{
    color: orange;
}
.satisfied{
    padding-left: 125px;
}
table{
    text-align: center;
    padding: 0;
}
td{
    padding: 10px 40px;
}
.radio{
    border: 0.5em;
    width: 100%;
    height: 1em;
    border-color: black;
}
.likely{
    padding-left: 125px;
}
.pad{
    padding:10px 46px;
}
.additional{
    padding-left: 125px;
}
.submit{
    padding: 10px 10px;
}
.sub{
    padding-left: 125px;
    padding-bottom: 50px;
}

.heading-1{
    text-align: center;
    margin-bottom: 50px;
}